<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3-eqyMU-khpyjV9d25QWVlxkO8W06qdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>474911339883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseMsg</string>
	<key>PROJECT_ID</key>
	<string>chat-app-8be4c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-8be4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474911339883:ios:7f1b6989fba4b83e93082e</string>
</dict>
</plist>